html,
body,
#urdf-viewer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: hidden;
    width: 200px;
    margin: 0;
    padding: 10px;
    max-height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.5);
}

#menu > button {
    margin: 5px 0;
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s opacity ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #bbb #f1f1f1;
}

#controls > * {
    margin: 5px 0;
}

#controls #toggle-controls {
    text-align: center;
    transition: 0.1s opacity linear;
}

#controls #toggle-controls:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* #controls #toggle-controls:before {
    content: "hide controls";
    font-size: 12px;
    font-weight: normal;
} */

/* hidden state */
/* #controls.hidden #toggle-controls:before {
    content: "show controls";
} */

#controls.hidden > *:not(#toggle-controls) {
    display: none;
}

#controls.hidden #toggle-controls {
    opacity: 0.5;
}

#controls .head-joints-and-links {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

#controls .ul-joints-and-links li {
    font-size: 12px;
    font-weight: normal;
}

#controls .div-frame-size {
    margin-left: 20px;
    margin-top: 5px;
}

/* 让checkbox和hint两端对齐 */
div.div-checkbox-with-hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 固定hint的尺寸和背景图标 */
div.hint {
    width: 15px;
    height: 15px;
    background-image: url("../../media/icons/hint.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.width_wrapper {
    width: 90%;
}

.width_full {
    width: 100%;
}

/* 隐藏默认的滑块样式 */
input[type="range"] {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    appearance: none;
    width: 100%;
    height: 8px;
    background: #bbb;
    outline: none;
    border-radius: 4px;
}

/* 自定义滑块的样式 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
}

/* 自定义当鼠标悬浮在滑块上时的样式 */
input[type="range"]:hover::-webkit-slider-thumb {
    background: blueviolet;
}

li.joint-item {
    position: relative;
    left: 8px;
}

.div-joint-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.joint_type {
    padding: 0 5px;
    margin-left: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

.div-slider {
    position: relative;
}

.slider-joint {
    margin-bottom: 0;
}

.div-scale {
    margin-top: 0;
    width: calc(100% - 12px);
    height: 20px;
    position: relative;
    left: 8px;
}

.div-scale-item {
    text-align: center;
    color: gray;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -4px;
    transform: translateX(-50%);
    pointer-events: none;
}

.div-scale-item div:first-child {
    font-size: 8px;
}

.div-scale-item.lower-limit {
    left: 0;
}

.div-scale-item.upper-limit {
    left: 100%;
}

#tooltip {
    position: absolute;
    background: rgba(200, 200, 230, 0.7);
    border: white 1px solid;
    color: black;
    padding: 5px;
    border-radius: 4px;
    transform: translateX(-50%);
    display: none; /* 初始隐藏 */
}

.switch-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.switch-container button {
    margin: 0;
    border: black 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.switch-container button.checked {
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
}

/*********/
/* 右边栏 */
/*********/

#operation {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: hidden;
    /* width: 200px; */
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 60px);
}

/* 测量容器 */
#div-measure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border: 2px solid #bbb;
    border-radius: 4px;
}

div.div-measure-button {
    display: block;
    margin: 5px 0;
    border-left: 2px solid rgba(0, 0, 0, 0);
}

button.measure {
    display: block;
    width: 30px;
    height: 30px;
    background-color: dodgerblue;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

button.measure:hover {
    background-color: #222;
}

button#measure-coordinates {
    mask: url("../../media/icons/measure-coordinates.svg") no-repeat center /
        auto 80%;
}

button#measure-distance {
    mask: url("../../media/icons/measure-distance.svg") no-repeat center / auto
        90%;
}

button#measure-angle {
    mask: url("../../media/icons/measure-angle.svg") no-repeat center / auto 68%;
}

button#measure-area {
    mask: url("../../media/icons/measure-area.svg") no-repeat center / auto 68%;
}

button.measure.checked {
    background-color: #222;
}

div.div-measure-button:has(> button.measure.checked) {
    border-left-color: #222;
}

div.div-measure-button:has(> button.measure.checked):hover {
    border-left-style: dashed;
}

/************/
/* 右下消息栏 */
/************/

#notify-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 60px);
    user-select: none;
    pointer-events: none;
}

#notify-container.hidden {
    display: none;
}

.notify-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* border: 2px solid #bbb; */
    /* border-radius: 4px; */
    height: 30px;
    width: auto;
    font-size: 12px;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

.notify-item .notify-icon {
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
}

.notify-item .notify-icon.mouse-drag {
    mask: url("../../media/icons/mouse-drag.svg") no-repeat center / auto 80%;
}

.notify-item .notify-icon.mouse-left-drag {
    mask: url("../../media/icons/mouse-left-drag.svg") no-repeat center / auto
        80%;
}

.notify-item .notify-icon.mouse-right-drag {
    mask: url("../../media/icons/mouse-right-drag.svg") no-repeat center / auto
        80%;
}

.notify-item .notify-icon.mouse-click {
    mask: url("../../media/icons/mouse-click.svg") no-repeat center / auto 80%;
}

.notify-item .notify-icon.mouse-dblclick {
    mask: url("../../media/icons/mouse-dblclick.svg") no-repeat center / auto
        80%;
}

.notify-item .notify-icon.mouse-scroll-down {
    mask: url("../../media/icons/mouse-scroll-down.svg") no-repeat center / auto
        80%;
}

.notify-item .notify-icon.mouse-scroll-up {
    mask: url("../../media/icons/mouse-scroll-up.svg") no-repeat center / auto
        80%;
}

.notify-item .notify-icon.key-enter {
    mask: url("../../media/icons/key-enter.svg") no-repeat center / auto 70%;
}

.notify-item .notify-icon.key-esc {
    mask: url("../../media/icons/key-esc.svg") no-repeat center / auto 80%;
}

.notify-item .notify-content {
    display: inline-block;
    height: 100%;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-wrap: none;
}

/* 不显示的情况 */
.notify-item.hidden {
    display: none;
}

/* 显示但无效的情况 */
.notify-item.disabled .notify-icon {
    background-color: gray;
}

.notify-item.disabled .notify-content {
    color: gray;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
