.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/webview/preview.html
!src/webview/style.css
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
