.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
release/**
media_origin/**
media/images/**
!src/webview/preview.html
!src/webview/style.css
!src/fonts
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
TODO.md